*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
body {
  font-family: sans-serif;
  background-color: #5e80a1;
}

.start-btn,
.info-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.start-btn button{
  font-size: 25px;
  font-weight: 500;
  color: blueviolet;
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: white;
  cursor: pointer;

}

header {
  font-size: 50px;
  padding: 30px;
  text-align: center;
  padding-top: 0px;
  color: hsl(208, 11%, 26%);
}

.info-box {
  display: none;
  width: 540px;
  background: white;
  border-radius: 5px;

}

.info-box .info-title {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  padding: 0 35px;
  font-size: 20px;
  font-weight: 600;
}

.info-box .info_list{
  padding: 15px 35px;
}

.info-box .info_list .info{
  margin: 5px 0;
  font-size: 17px;
}

.info-box .info_list .info span{
  font-weight: 600;
  color: #5e80a1;
}

.info-box .buttons{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 35px;
  border-top: 1px solid lightpink;

}

.info-box .buttons buttons {
  margin: 0 5px;
  height: 40px;
  width: 100px;
  border: 1px solid #5e80a1;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3 ease;

}

.buttons buttons.restart{
  color: white;
  background: #5e80a1;
  border-color: #5e80a1;

}

.buttons buttons.quit{
  color: #5e80a1;
  border-color: #5e80a1;

}

.buttons .button.restart:hover{
  background: #5e80a1;
}

.buttons button.quit{
  color: #5e80a1;

}